.sponsors {
  padding: 2rem 0 8rem 0;
  text-align: center;
  display: flex;
  align-items: center;

  &__wrap {
    background-color: #dfa813;

    text-align: center;
    overflow: hidden;
    position: relative;
  }

  &__heading {
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 5rem 0 2rem 0;
    cursor: default;
    transition: all 0.2s;
    color: #1e1e1e;
    background-color: transparent;

    &:hover {
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 18%);
    }
  }

  img {
    max-width: 25rem;
    margin-right: 10rem;
  }
}
