.faq {
  background-color: #121212;
  padding: 5rem 0 15rem 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__heading {
    display: inline-block;
    font-size: 8rem;
    background: linear-gradient(
      90deg,
      hsla(347, 89%, 61%, 1) 0%,
      hsla(242, 42%, 40%, 1) 100%
    );
    background-clip: text;
    color: transparent;
    font-weight: 900;
    margin: 5rem 0 2rem 0;
    cursor: default;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 18%);
    }
  }

  &__container {
    background: linear-gradient(
      90deg,
      hsla(347, 89%, 61%, 1) 0%,
      hsla(242, 42%, 40%, 1) 100%
    );
    border-radius: 1rem;
    padding: 3px;
    width: 70%;
  }

  &__items {
    background-color: #121212;
    border-radius: 1rem;
    padding: 2.5rem 3rem 2rem 3rem;
  }

  &__item {
    color: white;
    position: relative;

    &:not(:last-child) {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(#fff, 0.6);
    }

    &--question {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      font-size: 3rem;
      text-align: left;

      div {
        width: 2.5rem;
        height: 2.5rem;

        svg {
          width: 2.5rem;
          height: 2.5rem;
          transition: all 0.2s;
        }
      }

      &:hover svg {
        color: #d74270;
      }
    }

    &--answer {
      color: rgba(#fff, 0.8);
      text-align: left;
      font-size: 2rem;
      margin-top: 0.2rem;
      transition: transform 5s;
    }
  }
}

@media (max-width: 600px) {
  .faq {
    &__container {
      width: 90%;
    }
  }
}
