.footer {
  background-color: #121212;
  padding: 15rem 0;
  text-align: center;

  &__img {
    display: block;
    margin: auto;
  }

  &__contact {
    &:link,
    &:visited {
      display: inline-block;
      color: #fff;
      font-size: 3.2rem;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      margin: 4rem 0 0.5rem 0;
    }

    &:hover {
      color: #d74270;
    }
  }

  &__credits {
    color: #fff;
    font-size: 2rem;

    &--text {
      background: linear-gradient(
        90deg,
        hsla(347, 89%, 61%, 1) 0%,
        hsla(242, 42%, 40%, 1) 100%
      );
      background-clip: text;
      color: transparent;
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
}
